body {
	/*height:100vh;  for vertical alignment */
	background-color:#29504D;
	color: #C4DCEA;
}
.container {
	max-width:600px; /* to keep the content constrained */
}
label {
	display:block;
	height:0;
	visibility:hidden;
}
#result {
	font-size:2em;
	font-weight:bold;
}
.content {
	/*background-color:orange;*/
}
#directions {
	margin-top:1em;
}
a, a:link, a:visited, a:active {
	color:#fff;
}
a:hover {
	color:#fff;
}
#title {
	font-family:"Georgia",serif;
	font-style:italic;
	font-weight:bold;
	width:100%;
	text-align:center;
}