body {
	height:100vh; /* for vertical alignment */
	background-color:#29504D;
	color: #C4DCEA;
}
.container {
	max-width:600px; /* to keep the content constrained */
}
label {
	display:block;
}
#result {
	font-size:2em;
	font-weight:bold;
}
.content {
	/*background-color:orange;*/
}
a, a:link, a:visited, a:active {
	color:#fff;
}
a:hover {
	color:#fff;
}